{% extends 'ARAdminBundle::layout.html.twig' %}

{% block body -%}
    <h1>Article list</h1>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Text</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td>{{ article.getTitle() }}</td>
                <td>{{ article.text }}</td>
                <td>{% if article.date %}{{ article.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('article_show', { 'id': article.id }) }}">Voir</a>
                    <a class="btn btn-default" href="{{ path('article_edit', { 'id': article.id }) }}">Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('article_new') }}">
        Nouvel article
    </a>
{% endblock %}
