{% extends 'ARAdminBundle::layout.html.twig' %}

{% block body -%}
    <h1>Création d'un article</h1>
    <hr/>

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.text) }}
        {{ form_widget(form.text, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.date) }}
        {{ form_widget(form.date) }}
    </div>
    <div class="form-group">
        {{ form_label(form.tags) }}
        {{ form_widget(form.tags, {'attr': {'class': 'form-control'}}) }}
    </div>

    {{ form_end(form) }}

    <ul class="pager">
        <li class="previous">
            <a href="{{ path('article') }}">
                Retour
            </a>
        </li>
    </ul>
{% endblock %}
